*{
    padding: 0;
    margin: 0;
    /* font-family: 'Josefin Sans',sans-serif; */
    font-family:Georgia, 'Times New Roman';
    box-sizing: border-box;
}
.hero{
    background-color: black;
    height: 100vh;
    width: 100%;
    background-image:url(pxfuel\ \(4\).jpg);
    background-size: cover;
    background-position:center;
    

}

nav{
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:#2ecc71;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #2ecc71;
    transition: 0.4s;
}
.btn{
    background-color: #2ecc71;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;

}
.btn:hover{
    transform: scale(1.1);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0 20px;
    font-size: 70px;
}
h3{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #2ecc71;
    outline: none;
    border-radius: 30px;

}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #2ecc71;
    color: white;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    /* padding: 100px 0px; */
    background-color:black;
}
.about img{
    height: 400px;
    width: 400px;
    padding-right: 22px;
    

}
.about text{
    width: 550px;
}
.main{
    height:100vh;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1;
    margin-bottom: 45px;
}
button{
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #2ecc71;
    cursor: pointer;
}
.service{
    height:auto;
    background-color:black;
    width: 100%;
    padding: 100%px 0;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.cards{
    
    height:365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.cards i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #2ecc71;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.cards .button{
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 19px 22px;
    border-radius: 30px;
    transition: 0.4s;
}
.cards .button:hover{
    background-color: transparent;
    border: 2px solid #2ecc71;
    cursor: pointer;
}

.footer{
    background-color:#2ecc71;
    height: 5vh;
    color: white;
    font-size: 10px bold white;
    display: flex;
    justify-content: center;
    align-items:center

}
h2{
    color: yellow;
}